@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "SUSE", system-ui
}
html,body{
    height: 100%;
    width: 100%;
}

#page1,#page2,#page3{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#page1{
    background-color: salmon;
}
#page2{
    background-color: springgreen;
}
#page3{
    background-color:burlywood;
}
#box{
    background-color: royalblue;
    height: 250px;
    width: 250px;
}